
@{
    ViewBag.Title = "流程详细信息";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="warpper">
    <div class="page-content">
        <!--附件预览-->
        <h4 class="blockquote before-darkorange">业务信息</h4>
        <div id="form_container"></div>
        <h4 class="blockquote before-pink">相关附件</h4>
        <div id="form_attachment"></div>
        <h4 class="blockquote before-success">审批进度</h4>
        <!--时间轴开始-->
        @Html.Partial("_TimelinePartial", new ViewDataDictionary { { "DOMID", "form_timeline" } })
        <!--时间轴结束-->
    </div>
</div>
<!--附件预览-->
@Html.Partial("_PhotoSwipePartial")
@section scripts{
    <script>
        var options = { formId: "form_container", attachmentId: "form_attachment", timelineId: "form_timeline" };
        $form.init("http://localhost:8070/scripts/data/timeline.data.json", options);
    </script>
}

