@model WeChat.Dev.Models.AccountModel
@{
    ViewBag.Title = "登录";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微信登录</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
</head>
<body data-appcode="@ViewBag.AppCode" data-website="@ViewBag.WebSite">
    <div id="login_container">
        <form class="weui-cells weui-cells_form" method="post">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">账号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="Account" name="Account" placeholder="请输入账号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" id="Password" name="Password" placeholder="请输入密码">
                </div>
            </div>
            <div class="weui-btn-area">
                <button class="weui-btn weui-btn_primary" type="button" onclick="login()">登录</button>
            </div>
            <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" name="WorkUserId" id="WorkUserId" value="@Model.WorkUserId" />
        </form>
    </div>
    <script src="~/Scripts/weui.min.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/identity.js"></script>
    <script>
        var bodyData = document.querySelector('#login_container').dataset;
        function login() {
            var acc = document.getElementById("Account").value;
            var pwd = document.getElementById("Password").value;
            var workUserId = document.getElementById("WorkUserId").value;
            var returnUrl = document.getElementById("ReturnUrl").value;
            if (!acc || !pwd || !workUserId) {
                weui.alert("账号或密码不能为空");
                return
            }
            var loading = weui.loading('加载中');
            axios
                .post('/account/login', {
                    account: acc,
                    password: pwd,
                    workUserId: workUserId
                })
                .then(function (response) {
                    try {
                        loading.hide();
                        var data = response.data;
                        if (data.errcode !== 0) {
                            weui.alert(data.errmsg);
                        } else {
                            localStorage.setItem(appcode + "_identity", JSON.stringify(data.token))
                            window.location.href = returnUrl
                        }
                    } catch (e) {
                        console.log(e)
                    }
                })
                .catch(function (error) {
                    loading.hide();
                    console.log(error);
                });
        }
    </script>
</body>
</html>