@{
    ViewBag.Title = "微信登录";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微信登录</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
</head>
<body data-appcode="@ViewBag.AppCode" data-website="@ViewBag.WebSite" data-returnurl="@ViewBag.ReturnUrl" data-nonce="@ViewBag.Nonce">
    <script src="~/Scripts/weui.min.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/identity.js"></script>
    <script>

        try {
            var bodyData = document.body.dataset;
            var instance = new IdentityHandler(bodyData.appcode, bodyData.website);
            instance.wxLogin(bodyData.nonce, bodyData.returnurl);
        } catch (e) {
            weui.alert(e.message, { title: '警告' })
        }
        
    </script>
</body>
</html>