@{
    ViewBag.Title = "Home Page";
}

<div class="page msg_success">
    <div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="/home/listpanel">
                <div class="weui-cell__bd">
                    <p>待办</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="/home/myapplication">
                <div class="weui-cell__bd">
                    <p>发起</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="/home/MyTransaction">
                <div class="weui-cell__bd">
                    <p>已办</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="/home/MyCarbonCopy">
                <div class="weui-cell__bd">
                    <p>抄送</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="/wechat/authorize" mask="true" class="weui-btn weui-btn_primary">获取授权</a>
                <a href="/Home/TestAuthroize" mask="true" class="weui-btn weui-btn_primary">超链接拦截</a>
                <a href="/Home/Error?errmsg=" mask="true" class="weui-btn weui-btn_default">错误页面</a>
                <a href="javascript:history.back();" mask="true" class="weui-btn weui-btn_default">辅助操作</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
                </p>
                <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
            </div>
        </div>
    </div>
</div>