@{
    ViewBag.Title = "Home Page";
}

<div>
    <button type="button" onclick="ajaxSubmit()">ajax 跳转页面</button>
</div>
@section scripts{
    <script type="text/javascript">

        function ajaxSubmit() {
            var options = {
                url: '/wechat/authorize',
                type: 'GET',
                success: function (data, textStatus, jqXhr) {
                    debugger
                }
            };
            $.ajax(options);
        }
    </script>
}