
@{
    ViewBag.Title = "ListPanel";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}
<div class="list" id="mybacklog"></div>
@section scripts{
    <script>
        try {
            axios.get('/Scripts/mybacklog.data.json').then(function (response) {
                var data = response.data;
                data.listCategory = 0;//待办
                createCells(data);
                bindJumpLink();
            }).catch(function (err) {
                weui.alert();
            })
        } catch (e) {
            console.error(e)
            weui.alert(e.message)
        }

        function createCells(data) {

            var html = template('tpl_listtemplate', data);
            document.querySelector('#mybacklog').innerHTML = html;
            utils.setTitle("我的待办", data.items.length);

        }

        
    </script>
}