
@{
    ViewBag.Title = "我的办理";
    ViewBag.AppCode = Zap.WeChat.SDK.Constants.MOBILE_APPROVAL_TEST;
    ViewBag.WebSite = "http://douhua.oicp.net";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}
<div class="list" id="MyTransaction">
    <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        try {
            init();
        } catch (e) {
            console.error(e)
        }

        function init() {
            axios
                .get('/Scripts/data/MyTransaction.data.json')
                .then(function (response) {
                    try {
                        var data = response.data;
                        data.listCategory = 2;//已办
                        var html = template('tpl_listtemplate', data);
                        document.getElementById('MyTransaction').innerHTML = html;
                        utils.setTitle("我的办理", data.items.length);
                        bindJumpLink();
                    } catch (e) {
                        console.error(e)
                    }
                })
                .catch(function (err) {
                    weui.alert(JSON.stringify(err));
                });
        }
    </script>
}