
@{
    ViewBag.Title = "MyTransaction";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}
<div class="list" id="MyTransaction"></div>
@section scripts{
    <script type="text/javascript">
        try {
            init();
        } catch (e) {
            console.error(e)
        }

        function init() {
            axios
                .get('/Scripts/data/MyTransaction.data.json')
                .then(function (response) {
                    try {
                        var data = response.data;
                        data.listCategory = 2;//已办
                        var html = template('tpl_listtemplate', data);
                        document.getElementById('MyTransaction').innerHTML = html;
                        utils.setTitle("我的办理", data.items.length);
                        bindJumpLink();
                    } catch (e) {
                        console.error(e)
                    }
                })
                .catch(function (err) {
                    weui.alert(JSON.stringify(err));
                });
        }
    </script>
}