
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" style="padding:0;margin:0;height:100%">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body style="padding:0;margin:0;height:100%">
    <div style="background:red;height:100%">高度好搞笑哦</div>
    <script>
        console.log(document.documentElement.clientHeight)
        console.log(document.documentElement.clientWidth)
    </script>
</body>
</html>
