@using WeChat.Dev.Models;
@{
    var navModel = new NavModel
    {
        Menus = new List<MenuModel> {
            new MenuModel{
                Name ="待办",
                ClassList=new List<string>{"nav-btn_default" },
                ButtonType = ButtonType.Link,
                Url = "/app/todos"
            },
            new MenuModel{
                Name ="已办",
                ClassList=new List<string>{"nav-btn_default" },
                ButtonType = ButtonType.Button,
                Url = "/app/todos",
                CodeSnippet = "onclick=$app.showDoneMenu()"
            },
            new MenuModel{
                Name ="抄送",
                ClassList=new List<string>{"nav-btn_default" },
                ButtonType = ButtonType.Link,
                Url = "/app/ccnotation"
            }
        }
    };
}
<div class="warpper">
    <div class="page-content" id="@ViewBag.DOMID"></div>
    @Html.Partial("_NavPartial", navModel)
</div>
