<!--底部菜单-->
<div class="weui-form-preview__ft fixed_b">
    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="/app/todos" mask="true">待办</a>
    <button class="weui-form-preview__btn weui-form-preview__btn_default" type="button" onclick="showDoneMenu()">已办</button>
    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="/app/ccnotation" mask="true">
        <span style="vertical-align: middle">抄送</span>
        <span class="weui-badge" style="margin-left: 5px;">@ViewBag.CCNotation</span>
    </a>
</div>