<!--时间轴开始-->
<div class="timeline-header weui-flex text-center bg-white">
    <div class="weui-flex__item node-state"><span class="before-lightgray">未办</span></div>
    <div class="weui-flex__item node-state"><span class="before-themethirdcolor">在办</span></div>
    <div class="weui-flex__item node-state"><span class="before-themefourthcolor">已办</span></div>
    <div class="weui-flex__item node-state"><span class="before-themesecondary">作废</span></div>
</div>
<section class="timeline-container">
    <div class="timeline" id="@ViewBag.DOMID"></div>
</section>
<!--时间轴结束-->